* {
  margin: 0px;
  padding: 0px;
}

.container {
  height: 85vh;
  background: linear-gradient(to right, #709ebd, #2c3e50);
  overflow: auto;
}

.inner-container {
  height: 100%;

  overflow: auto;
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin: 20px 50px;
}
