* {
  margin: 0px;
  padding: 0px;
}

.pgfooter {
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: linear-gradient(to right, #d8bb83, #cf931b, #d8bb83);
    color: white; */
  background-color: #ddd0c8;
  color: black;
  font-size: 0.8rem;
  font-family: 'Courier New', Courier, monospace;
}
