<div class="form-container">
  <div class="row">
    <h1>Deposit Amount</h1>
  </div>
  <div class="row">
    <div class="col">
      <form [formGroup]="withdrawForm" (ngSubmit)="deposit()">
        <div class="form-group">
          <label for="amount"></label>
          <input
            type="text"
            name="amount"
            formControlName="amount"
            class="form-control"
            placeholder="Enter Amount to Deposit"
            required
          />
          <button class="form-control btn" type="submit">Deposit</button>
        </div>
      </form>
    </div>
  </div>
</div>
