<app-header></app-header>
<div class="row">
  <div class="col">
    <div class="form-container">
      <form [formGroup]="userForm" (ngSubmit)="submit()">
        <div class="form-group">
          <label for="username">Name</label>
          <input
            type="text"
            id="username"
            class="form-control"
            formControlName="username"
          />
        </div>

        <div class="form-group">
          <label for="gender">Gender</label>
          <select id="gender" class="form-control" formControlName="gender">
            <option value="" disabled>select option</option>
            <option value="Female">Female</option>
            <option value="Male">Male</option>
          </select>
        </div>

        <div class="form-group">
          <label for="age">Age</label>
          <input
            type="number"
            id="age"
            class="form-control"
            formControlName="age"
          />
        </div>

        <div class="form-group">
          <label for="education">Higher Education</label>
          <select
            id="education"
            class="form-control"
            formControlName="education"
          >
            <option value="" disabled>select option</option>
            <option value="10th">10th</option>
            <option value="College">College</option>
            <option value="Graduation">Graduation</option>
            <option value="Post Graduation">Post Graduation</option>
            <option value="Master">Masters</option>
            <option value="No Education">No Education</option>
          </select>
        </div>

        <div class="form-group">
          <label for="dob">Date Of Birth</label>
          <input
            type="date"
            id="dob"
            class="form-control"
            formControlName="dob"
          />
        </div>
        <div class="form-group">
          <button class="form-control" type="submit">submit</button>
        </div>
      </form>
    </div>
    <h1>Fully Matched Details</h1>
    <p *ngFor="let match of matchusers">
      A user with name {{ match.username }} has matched your unique code
      {{ match.code }}
    </p>
    <h1>Semi Matched Details</h1>
    <p *ngFor="let match of semiMatchUsers">
      A user with name {{ match.username }} has matched your unique code
      {{ match.code }}
    </p>
  </div>
  <br />
  <div class="row">
    <div class="col">
      <div class="sem-col">
        <table>
          <thead>
            <th>Name</th>
            <th>Gender</th>
            <th>Age</th>
            <th>Education</th>
            <th>Data of Birth</th>
            <th>UID</th>
          </thead>
          <tbody>
            <tr *ngFor="let user of users">
              <td>{{ user.username }}</td>
              <td>{{ user.gender }}</td>
              <td>{{ user.age }}</td>
              <td>{{ user.education }}</td>
              <td>{{ user.dob }}</td>
              <td>{{ user.code }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
