<app-header></app-header>
<div class="row">
  <div class="col">
    <div class="form-container">
      <form>
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" id="name" class="form-control" />
        </div>

        <div class="form-group">
          <label for="gender">Gender</label>
          <select id="gender" class="form-control">
            <option value=""></option>
            <option value="F">Female</option>
            <option value="M">Male</option>
          </select>
        </div>

        <div class="form-group">
          <label for="age">Age</label>
          <input type="number" id="age" class="form-control" />
        </div>

        <div class="form-group">
          <label for="education">Higher Education</label>
          <select id="education" class="form-control">
            <option value=""></option>
            <option value="GS">10th</option>
            <option value="GC">College</option>
            <option value="GG">Graduation</option>
            <option value="GP">Post Graduation</option>
            <option value="GM">Masters</option>
            <option value="GN">No Education</option>
          </select>
        </div>

        <div class="form-group">
          <label for="dob">Date Of Birth</label>
          <input type="date" id="dob" class="form-control" />
        </div>
      </form>
    </div>
  </div>
</div>
