<div class="form-container">
  <div class="row">
    <h1>Transfer Amount</h1>
  </div>
  <div class="row">
    <div class="col">
      <form [formGroup]="transferForm" (ngSubmit)="transfer()">
        <div class="form-group">
          <label for="taccount"></label>
          <input
            type="text"
            name="taccount"
            formControlName="taccount"
            class="form-control"
            placeholder="Enter Account Number"
            required
          />
          <label for="amount"></label>
          <input
            type="number"
            name="amount"
            formControlName="amount"
            class="form-control"
            placeholder="Enter Amount to transfer"
            required
          />
          <button class="form-control btn" type="submit">Transfer</button>
        </div>
      </form>
    </div>
  </div>
</div>
