<div class="form-container">
  <div class="row">
    <h1>Transfer Amount</h1>
  </div>
  <div class="row">
    <div class="col">
      <form>
        <div class="form-group">
          <label for="accNumber"></label>
          <input
            type="text"
            name="accNumber"
            formControlName="accNumber"
            class="form-control"
            placeholder="Enter Account Number"
            required
          />
          <label for="tamount"></label>
          <input
            type="text"
            name="tamount"
            formControlName="tamount"
            class="form-control"
            placeholder="Enter Amount to transfer"
            required
          />
          <button class="form-control btn" type="submit">Transfer</button>
        </div>
      </form>
    </div>
  </div>
</div>
