<app-navigation></app-navigation>

<div class="outer-box">
  <div class="content">
    <div class="personal info">
      <div class="title">Personal Details</div>
      <div class="contents">
        <div class="details">
          <span class="label">First Name</span>
          <span class="value">{{ user.firstName }}</span>
        </div>
        <div class="details">
          <span class="label">Last Name</span>
          <span class="value">{{ user.lastName }}</span>
        </div>
        <div class="details">
          <span class="label">Email Address</span>
          <span class="value">{{ user.email }}</span>
        </div>
        <div class="details">
          <span class="label">Phone Number</span>
          <span class="value">{{ user.contact }}</span>
        </div>
      </div>
    </div>
    <div class="account info">
      <div class="title">Account Details</div>
      <div class="contents">
        <div class="details">
          <span class="label">Acc Number</span>
          <span class="value">{{ user.account }}</span>
        </div>
      </div>
    </div>
    <div class="address info">
      <fieldset class="title">Address</fieldset>
      <div class="contents">
        <div class="details">
          <span class="label">City</span>
          <span class="value">{{ user.city }} </span>
        </div>
      </div>
    </div>
  </div>
  <div class="profile info">
    <div class="title">My Profile</div>
    <div class="user">
      <div class="img"></div>
      <span class="value">{{ user.firstName }} {{ user.lastName }}</span>
    </div>
  </div>
</div>

<app-footer></app-footer>
