<div class="navbar2">
  <ul class="ul">
    <li class="h3">Lords Bank</li>
    <li routerLink="/dashboard">DashBoard</li>
    <li routerLink="/usersavings">Savings</li>
    <li routerLink="/creditcards">Credit Cards</li>
  </ul>

  <div class="name">
    <span>{{ user.firstName }}</span>
    <div class="dropdown">
      <button>👻</button>
      <div class="content">
        <ul class="nameul">
          <li routerLink="/profile">Profile</li>
          <li routerLink="/">Log out</li>
        </ul>
      </div>
    </div>
  </div>
</div>
